{
  "extends": ["airbnb", "prettier", "prettier/react", "airbnb/hooks"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "react/jsx-fragments": ["warn", "element"],
    "react/forbid-prop-types": ["warn", { "forbid": ["any"] }],
    "import/newline-after-import": ["warn", { "count": 1 }],
    "import/prefer-default-export": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
